Language: Cpp
BasedOnStyle: WebKit
ColumnLimit: 80
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AlignTrailingComments: Always
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
IncludeBlocks: Preserve
PackConstructorInitializers: NextLine
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Right
